In [1]:
def data_processing(sample, ticker, base_date):
    sample.reset_index(inplace=True)
    sample.reset_index(inplace=True, drop=True)
    sample['CODE'] = ticker
    sample = sample[sample['Date'] >= base_date][['Date', 'CODE','Close']].copy()
    sample.reset_index(inplace=True, drop=True)
    sample['STD_YM'] = sample['Date'].map(lambda x : pd.Timestamp(x + pd.offsets.MonthEnd(n=0)).strftime('%Y-%m'))
    sample['1M_RET'] = 0.0
    ym_keys = list(sample['STD_YM'].unique())
    return sample, ym_keys

def data_preprocessing(read_df, base_date):   
    read_df = read_df[read_df['Date'] >= base_date].copy()
    read_df.reset_index(inplace=True, drop = True)
    read_df['STD_YM'] = read_df['Date'].map(lambda x : pd.Timestamp(x + pd.offsets.MonthEnd(n=0)).strftime('%Y-%m'))
    read_df['1M_RET'] = 0.0
    ym_keys = list(read_df['STD_YM'].unique())
    return read_df, ym_keys

def create_trade_book(sample, sample_codes):
    book = pd.DataFrame()
    book = sample[sample_codes].copy()
    book['STD_YM'] = book.index.map(lambda x : pd.Timestamp(x + pd.offsets.MonthEnd(n=0)).strftime('%Y-%m'))
    for c in sample_codes:
        book['p '+c] = ''
        book['r '+c] = ''
    return book

# 상대모멘텀 Positioning
def positions(book, s_codes):
    std_ym = ''
    buy_phase = False
    for s in s_codes : 
        print(s)
        for i in book.index:
            if book.loc[i,'p '+s] == '' and book.shift(1).loc[i,'p '+s] == 'ready ' + s:
                std_ym = book.loc[i,'STD_YM']
                buy_phase = True
            
            if book.loc[i,'p '+s] == '' and book.loc[i,'STD_YM'] == std_ym and buy_phase == True : 
                book.loc[i,'p '+s] = 'buy ' + s
            
            if book.loc[i,'p '+ s] == '' :
                std_ym = None
                buy_phase = False
    return book

def multi_returns(book, s_codes):
    # 손익 계산
    rtn = 1.0
    buy_dict = {}
    num = len(s_codes)
    sell_dict = {}
    
    for i in book.index:
        for s in s_codes:
            if book.loc[i, 'p ' + s] == 'buy '+ s and \
            book.shift(1).loc[i, 'p '+s] == 'ready '+s and \
            book.shift(2).loc[i, 'p '+s] == '' :     # long 진입
                buy_dict[s] = book.loc[i, s]
            elif book.loc[i, 'p '+ s] == '' and book.shift(1).loc[i, 'p '+s] == 'buy '+ s:     # long 청산
                sell_dict[s] = book.loc[i, s]
                # 손익 계산
                rtn = (sell_dict[s] / buy_dict[s]) -1
                book.loc[i, 'r '+s] = rtn
                print('개별 청산일 : ',i,' 종목코드 : ', s , 'long 진입가격 : ', buy_dict[s], ' |  long 청산가격 : ', sell_dict[s], ' | return:', round(rtn * 100, 2),'%') # 수익률 계산.

            if book.loc[i, 'p '+ s] == '':     # zero position || long 청산.
                buy_dict[s] = 0.0
                sell_dict[s] = 0.0


    acc_rtn = 1.0        
    for i in book.index:
        rtn  = 0.0
        count = 0
        for s in s_codes:
            if book.loc[i, 'p '+ s] == '' and book.shift(1).loc[i,'p '+ s] == 'buy '+ s:  # 청산. 이떄 수익률이 나오니깐.
                count += 1
                rtn += book.loc[i, 'r '+s]
        if (rtn != 0.0) & (count != 0) :
            # 내가 후보로 삼은 universe에서  1/n 이라고 가정.
            acc_rtn *= (rtn /count )  + 1
            print('누적 청산일 : ',i,'청산 종목수 : ',count, \
                  '청산 수익률 : ',round((rtn /count),4),'누적 수익률 : ' ,round(acc_rtn, 4)) # 수익률 계산.
        book.loc[i,'acc_rtn'] = acc_rtn
    
    print ('누적 수익률 :', round(acc_rtn, 4))

In [2]:
import pandas as pd
import numpy as np
import datetime
import FinanceDataReader as fdr

month_last_df = pd.DataFrame(columns=['Date', 'CODE', '1M_RET'])
stocks = pd.read_csv('./stock_codes.csv')
stocks['code'] = stocks['code'].map(lambda x : x[1:])
stocks.set_index('code', inplace=True)
print(stocks)

              label
code
005930  SAMSUNGelec
051910       LGchem
000660      SKhynix
207940   SAMSUNGbio
035420        NAVER
035720        KAKAO
005380    HYNDAIcar
006400   SAMSUNGsdi
068270    CELLTRION
000270          KIA

In [3]:
dataframes = []
month_last_df = pd.DataFrame()
read_df = pd.DataFrame()
for st in stocks.index:
    temp_df = fdr.DataReader(st)
    temp_df.reset_index(inplace=True)
    temp_df['CODE'] = stocks.loc[st,'label']
    read_df = read_df.append(temp_df.loc[:])
    print(temp_df)
    
    #month_last_df = month_last_df.append(temp_df.loc[:, ['Date', 'CODE', 'Close','1M_RET']])

           Date   Open   High    Low  Close    Volume    Change         CODE
0    1997-09-01   1258   1268   1236   1251     76170       NaN  SAMSUNGelec
1    1997-09-02   1238   1268   1227   1269     97370  0.014388  SAMSUNGelec
2    1997-09-03   1268   1268   1236   1237    108600 -0.025217  SAMSUNGelec
3    1997-09-04   1247   1247   1217   1221     88900 -0.012935  SAMSUNGelec
4    1997-09-05   1220   1250   1217   1244     38970  0.018837  SAMSUNGelec
...         ...    ...    ...    ...    ...       ...       ...          ...
5995 2021-09-13  75200  76300  75100  76300  11397775  0.013280  SAMSUNGelec
5996 2021-09-14  77100  77700  76600  76600  18167057  0.003932  SAMSUNGelec
5997 2021-09-15  77400  77400  76400  77000  12829128  0.005222  SAMSUNGelec
5998 2021-09-16  77300  77400  76100  76100  13067622 -0.011688  SAMSUNGelec
5999 2021-09-17  76300  77200  75900  77200  15656562  0.014455  SAMSUNGelec

[6000 rows x 8 columns]
           Date    Open    High     Low   Close   Volume    Change    CODE
0    2001-04-25   20621   20621   17563   18489  3094940       NaN  LGchem
1    2001-04-26   17918   18416   17492   17636  1197840 -0.046136  LGchem
2    2001-04-27   17280   18204   17066   18062   854340  0.024155  LGchem
3    2001-04-30   17706   18275   17706   18204   803230  0.007862  LGchem
4    2001-05-02   18345   18843   17990   18489   851580  0.015656  LGchem
...         ...     ...     ...     ...     ...      ...       ...     ...
5041 2021-09-13  734000  747000  727000  747000   312766  0.009459  LGchem
5042 2021-09-14  744000  748000  729000  734000   243009 -0.017403  LGchem
5043 2021-09-15  723000  725000  706000  718000   457453 -0.021798  LGchem
5044 2021-09-16  716000  723000  713000  716000   251126 -0.002786  LGchem
5045 2021-09-17  712000  713000  701000  701000   334143 -0.020950  LGchem

[5046 rows x 8 columns]
           Date    Open    High     Low   Close   Volume    Change     CODE
0    1997-09-01  385403  395882  385403  391224    91370       NaN  SKhynix
1    1997-09-02  397046  401704  393553  395881    66740  0.011904  SKhynix
2    1997-09-03  401704  427320  401704  419169    74210  0.058826  SKhynix
3    1997-09-04  419169  430813  407526  409854   117490 -0.022223  SKhynix
4    1997-09-05  415676  421498  411019  419169    38870  0.022728  SKhynix
...         ...     ...     ...     ...     ...      ...       ...      ...
5995 2021-09-13  105000  107000  104000  106500  1923344  0.014286  SKhynix
5996 2021-09-14  107500  108500  106500  107500  2463248  0.009390  SKhynix
5997 2021-09-15  107500  107500  105500  107500  2933797  0.000000  SKhynix
5998 2021-09-16  107000  107500  104000  104000  3602821 -0.032558  SKhynix
5999 2021-09-17  104500  107500  104000  107000  3282623  0.028846  SKhynix

[6000 rows x 8 columns]
           Date    Open    High     Low   Close   Volume    Change        CODE
0    2016-11-10  135000  148000  125500  144000  7179018       NaN  SAMSUNGbio
1    2016-11-11  149500  186500  142000  161500  8140539  0.121528  SAMSUNGbio
2    2016-11-14  165000  177500  165000  175500  2977177  0.086687  SAMSUNGbio
3    2016-11-15  179000  181500  162500  166000  2592949 -0.054131  SAMSUNGbio
4    2016-11-16  168500  173000  163500  170000  1660976  0.024096  SAMSUNGbio
...         ...     ...     ...     ...     ...      ...       ...         ...
1191 2021-09-13  920000  929000  908000  913000    45749 -0.012973  SAMSUNGbio
1192 2021-09-14  916000  919000  910000  913000    55234  0.000000  SAMSUNGbio
1193 2021-09-15  919000  940000  915000  936000    76766  0.025192  SAMSUNGbio
1194 2021-09-16  936000  942000  916000  916000    55857 -0.021368  SAMSUNGbio
1195 2021-09-17  917000  933000  914000  933000    70952  0.018559  SAMSUNGbio

[1196 rows x 8 columns]
           Date    Open    High     Low   Close   Volume    Change   CODE
0    2002-10-29    2312    2312    2312    2312    20549       NaN  NAVER
1    2002-10-30    2587    2587    2558    2588   853638  0.119377  NAVER
2    2002-10-31    2626    2689    2398    2459  1320880 -0.049845  NAVER
3    2002-11-01    2520    2599    2215    2305   750761 -0.062627  NAVER
4    2002-11-04    2285    2300    2135    2191   692165 -0.049458  NAVER
...         ...     ...     ...     ...     ...      ...       ...    ...
4670 2021-09-13  405000  414000  402500  408000   771749 -0.004878  NAVER
4671 2021-09-14  403500  406500  393500  402500  1636660 -0.013480  NAVER
4672 2021-09-15  403000  409500  400000  400500   730616 -0.004969  NAVER
4673 2021-09-16  405000  410000  401000  402000   614987  0.003745  NAVER
4674 2021-09-17  404500  405000  397500  403000   544846  0.002488  NAVER

[4675 rows x 8 columns]
           Date    Open    High     Low   Close    Volume    Change   CODE
0    1999-11-11     999     999     999     999        12       NaN  KAKAO
1    1999-11-12    1115    1115    1115    1115       140  0.116116  KAKAO
2    1999-11-15    1249    1249    1249    1249       405  0.120179  KAKAO
3    1999-11-16    1396    1396    1396    1396       214  0.117694  KAKAO
4    1999-11-17    1561    1561    1561    1561       191  0.118195  KAKAO
...         ...     ...     ...     ...     ...       ...       ...    ...
5392 2021-09-13  126500  130000  122500  124500   8675498 -0.042308  KAKAO
5393 2021-09-14  122500  126000  118000  124000  18895148 -0.004016  KAKAO
5394 2021-09-15  123500  127500  122000  122500   9078817 -0.012097  KAKAO
5395 2021-09-16  123000  125000  121000  121500   4770936 -0.008163  KAKAO
5396 2021-09-17  121500  121500  118000  119500   4730045 -0.016461  KAKAO

[5397 rows x 8 columns]
           Date    Open    High     Low   Close  Volume    Change       CODE
0    1997-09-01   17293   17683   16578   16577   35970       NaN  HYNDAIcar
1    1997-09-02   16383   16708   15927   16642   32170  0.003921  HYNDAIcar
2    1997-09-03   16122   16773   16122   16122   25290 -0.031246  HYNDAIcar
3    1997-09-04   16122   16252   15472   16057   51860 -0.004032  HYNDAIcar
4    1997-09-05   15732   16578   15732   16577   36580  0.032385  HYNDAIcar
...         ...     ...     ...     ...     ...     ...       ...        ...
5995 2021-09-13  206500  206500  204000  205000  590609 -0.007264  HYNDAIcar
5996 2021-09-14  206500  211500  206000  209000  721080  0.019512  HYNDAIcar
5997 2021-09-15  208000  211500  208000  209500  472855  0.002392  HYNDAIcar
5998 2021-09-16  210000  211000  206500  208000  416275 -0.007160  HYNDAIcar
5999 2021-09-17  208000  210000  207000  209000  693211  0.004808  HYNDAIcar

[6000 rows x 8 columns]
           Date    Open    High     Low   Close  Volume    Change        CODE
0    1997-09-01   39528   39962   39354   39354   14960       NaN  SAMSUNGsdi
1    1997-09-02   39094   39962   38659   39962   34190  0.015450  SAMSUNGsdi
2    1997-09-03   39962   40397   39354   39614   11570 -0.008708  SAMSUNGsdi
3    1997-09-04   39354   39962   38746   39527   19190 -0.002196  SAMSUNGsdi
4    1997-09-05   39094   40397   39094   40309   22620  0.019784  SAMSUNGsdi
...         ...     ...     ...     ...     ...     ...       ...         ...
5995 2021-09-13  745000  747000  736000  741000  200788 -0.012000  SAMSUNGsdi
5996 2021-09-14  741000  756000  741000  755000  197540  0.018893  SAMSUNGsdi
5997 2021-09-15  761000  761000  747000  750000  126911 -0.006623  SAMSUNGsdi
5998 2021-09-16  735000  743000  710000  725000  721596 -0.033333  SAMSUNGsdi
5999 2021-09-17  724000  732000  720000  725000  258258  0.000000  SAMSUNGsdi

[6000 rows x 8 columns]
           Date    Open    High     Low   Close  Volume    Change       CODE
0    2005-07-19    5598    6433    5438    6439  499088       NaN  CELLTRION
1    2005-07-20    6424    6424    5470    5475  422688 -0.149713  CELLTRION
2    2005-07-21    5391    5499    4785    4798  182685 -0.123653  CELLTRION
3    2005-07-22    4884    4884    4617    4664   69921 -0.027928  CELLTRION
4    2005-07-25    4587    4967    4587    4723   61036  0.012650  CELLTRION
...         ...     ...     ...     ...     ...     ...       ...        ...
3997 2021-09-13  266500  267000  260500  262000  505510 -0.020561  CELLTRION
3998 2021-09-14  261500  265000  260500  263000  416684  0.003817  CELLTRION
3999 2021-09-15  266000  275500  265500  272500  576273  0.036122  CELLTRION
4000 2021-09-16  276000  276000  266500  267000  354210 -0.020183  CELLTRION
4001 2021-09-17  271000  276000  270000  275500  574309  0.031835  CELLTRION

[4002 rows x 8 columns]

           Date    Open    High     Low   Close   Volume    Change CODE
0    1997-09-01  100971  108873   99215  106239    78070       NaN  KIA
1    1997-09-02  110629  110629  107117  109751    12600  0.033058  KIA
2    1997-09-03  111507  111507  107995  109751    24070  0.000000  KIA
3    1997-09-04  107995  109751  101849  108873    33280 -0.008000  KIA
4    1997-09-05  101849  105361  100971  104483   222350 -0.040322  KIA
...         ...     ...     ...     ...     ...      ...       ...  ...
5995 2021-09-13   82300   83100   81800   82600  1367010  0.001212  KIA
5996 2021-09-14   83300   84500   83100   83400  1530277  0.009685  KIA
5997 2021-09-15   83000   84200   82500   83300  1124683 -0.001199  KIA
5998 2021-09-16   83600   84500   83400   84500  1424238  0.014406  KIA
5999 2021-09-17   84300   84700   83700   84100  1417299 -0.004734  KIA

[6000 rows x 8 columns]

In [8]:
month_last_df = pd.DataFrame(columns=['Date','CODE','Close'])
month_last_ret_df = pd.DataFrame(columns=['Date','CODE','1M_RET'])
price_df, ym_keys = data_preprocessing(read_df, base_date='2010-01-02')
read_df

           Date   Open   High    Low  Close   Volume    Change         CODE
0    1997-09-01   1258   1268   1236   1251    76170       NaN  SAMSUNGelec
1    1997-09-02   1238   1268   1227   1269    97370  0.014388  SAMSUNGelec
2    1997-09-03   1268   1268   1236   1237   108600 -0.025217  SAMSUNGelec
3    1997-09-04   1247   1247   1217   1221    88900 -0.012935  SAMSUNGelec
4    1997-09-05   1220   1250   1217   1244    38970  0.018837  SAMSUNGelec
...         ...    ...    ...    ...    ...      ...       ...          ...
5995 2021-09-13  82300  83100  81800  82600  1367010  0.001212          KIA
5996 2021-09-14  83300  84500  83100  83400  1530277  0.009685          KIA
5997 2021-09-15  83000  84200  82500  83300  1124683 -0.001199          KIA
5998 2021-09-16  83600  84500  83400  84500  1424238  0.014406          KIA
5999 2021-09-17  84300  84700  83700  84100  1417299 -0.004734          KIA

[50316 rows x 8 columns]

In [9]:

s_codes = list(read_df['CODE'].unique())

for s in s_codes:
    print(s)
    for ym in ym_keys:
        try : 
            # 절대 모멘텀 사용 종가
            month_last_df= month_last_df.append(price_df.loc[price_df[(price_df['STD_YM'] == ym) \
                                                                      & (price_df['CODE'] == s)].index[-1]\
                                                             ,['Date','CODE','Close']\
                                                            ]
                                               )
            
            # 상대 모멘텀 사용 수익률
            m_ret = price_df.loc[price_df[(price_df['STD_YM'] == ym) & (price_df['CODE'] == s)].index[-1] , 'Close'] \
            / price_df.loc[price_df[(price_df['STD_YM'] == ym) & (price_df['CODE'] == s)].index[0] , 'Close']
            price_df.loc[(price_df['STD_YM'] == ym) & (price_df['CODE'] == s), ['1M_RET']] = m_ret
            
            
            month_last_ret_df= month_last_ret_df.append(price_df.loc[price_df[(price_df['STD_YM'] == ym) \
                                                                      & (price_df['CODE'] == s)].index[-1]\
                                                             ,['Date','CODE','1M_RET']\
                                                            ]
                                               )
        except IndexError:
            pass

SAMSUNGelec
LGchem
SKhynix
SAMSUNGbio
NAVER
KAKAO
HYNDAIcar
SAMSUNGsdi
CELLTRION
KIA

In [10]:
# 12개월  절대 모멘텀 
bf_month = 12
month_last_df.reset_index(inplace=True,drop=True)
month_last_tmp_df = month_last_df.pivot('Date','CODE','Close').copy()
abs_momentum_filter =  month_last_tmp_df / month_last_tmp_df.shift(bf_month) -1
abs_momentum_filter = abs_momentum_filter.where(abs_momentum_filter > 0.0 , np.nan)
abs_momentum_filter.fillna(0,inplace=True)
abs_momentum_filter[abs_momentum_filter != 0] = 1


# 유니버스 내 상위 20% 상대 모멘텀
ratio = 0.2   # 상위 20%에 드는 종목들만.
month_last_ret_df.reset_index(inplace=True,drop=True)
month_last_ret_df = month_last_ret_df.pivot('Date','CODE','1M_RET').copy()
rel_momentum_filter = month_last_ret_df.rank(axis=1, ascending=False, method="max", pct=True) # 투자종목 선택할 rank
rel_momentum_filter = rel_momentum_filter.where( rel_momentum_filter < ratio , np.nan)
rel_momentum_filter.fillna(0,inplace=True)
rel_momentum_filter[rel_momentum_filter != 0] = 1

#듀얼 모멘텀.
dual_mementum_filter = abs_momentum_filter * rel_momentum_filter # 절대 모멘텀 * 상대 모멘텀 => 듀얼 모멘텀

In [11]:

# 사실상 trading 부분.
sig_dict = dict()
for date in dual_mementum_filter.index:
    ticker_list = list(dual_mementum_filter.loc[date,dual_mementum_filter.loc[date,:] >= 1.0].index)
    sig_dict[date] = ticker_list
    
stock_c_matrix = price_df.pivot('Date','CODE','Close').copy()
book = create_trade_book(stock_c_matrix, s_codes)
book['STD_YM'] = book.index.map(lambda x : pd.Timestamp(x + pd.offsets.MonthEnd(n=0)).strftime('%Y-%m'))

#ready 표시
for date,values in sig_dict.items():
    for stock in values:
        book.loc[date,'p '+ stock] = 'ready ' + stock
        

# # trading 부분을 만들려고 하는데
book = positions(book, s_codes)

SAMSUNGelec
LGchem
SKhynix
SAMSUNGbio
NAVER
KAKAO
HYNDAIcar
SAMSUNGsdi
CELLTRION
KIA

In [12]:
multi_returns(book, s_codes)

개별 청산일 :  2011-03-02 00:00:00  종목코드 :  SKhynix long 진입가격 :  29650.0  |  long 청산가격 :  27550.0  | return: -7.08 %
개별 청산일 :  2011-04-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  19228.0  |  long 청산가격 :  19931.0  | return: 3.66 %
개별 청산일 :  2011-05-02 00:00:00  종목코드 :  LGchem long 진입가격 :  458000.0  |  long 청산가격 :  540000.0  | return: 17.9 %
개별 청산일 :  2011-06-01 00:00:00  종목코드 :  HYNDAIcar long 진입가격 :  254500.0  |  long 청산가격 :  243500.0  | return: -4.32 %
개별 청산일 :  2011-08-01 00:00:00  종목코드 :  CELLTRION long 진입가격 :  30106.0  |  long 청산가격 :  40519.0  | return: 34.59 %
개별 청산일 :  2011-09-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  26775.0  |  long 청산가격 :  25691.0  | return: -4.05 %
개별 청산일 :  2011-10-04 00:00:00  종목코드 :  NAVER long 진입가격 :  65134.0  |  long 청산가격 :  71256.0  | return: 9.4 %
개별 청산일 :  2011-11-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  26896.0  |  long 청산가격 :  26133.0  | return: -2.84 %
개별 청산일 :  2011-12-01 00:00:00  종목코드 :  LGchem long 진입가격 :  365500.0  |  long 청산가격 :  346500.0  | return: -5.2 %
개별 청산일 :  2012-01-02 00:00:00  종목코드 :  KAKAO long 진입가격 :  27859.0  |  long 청산가격 :  24828.0  | return: -10.88 %
개별 청산일 :  2012-02-01 00:00:00  종목코드 :  SAMSUNGelec long 진입가격 :  21600.0  |  long 청산가격 :  21580.0  | return: -0.09 %
개별 청산일 :  2012-04-02 00:00:00  종목코드 :  SAMSUNGelec long 진입가격 :  23640.0  |  long 청산가격 :  25980.0  | return: 9.9 %
개별 청산일 :  2012-05-02 00:00:00  종목코드 :  NAVER long 진입가격 :  81300.0  |  long 청산가격 :  78475.0  | return: -3.47 %
개별 청산일 :  2012-09-03 00:00:00  종목코드 :  NAVER long 진입가격 :  86951.0  |  long 청산가격 :  81614.0  | return: -6.14 %
개별 청산일 :  2012-11-01 00:00:00  종목코드 :  NAVER long 진입가격 :  87736.0  |  long 청산가격 :  79417.0  | return: -9.48 %
개별 청산일 :  2012-12-03 00:00:00  종목코드 :  SKhynix long 진입가격 :  25500.0  |  long 청산가격 :  24400.0  | return: -4.31 %
개별 청산일 :  2013-01-02 00:00:00  종목코드 :  SAMSUNGsdi long 진입가격 :  156000.0  |  long 청산가격 :  152500.0  | return: -2.24 %
개별 청산일 :  2013-02-01 00:00:00  종목코드 :  SAMSUNGelec long 진입가격 :  31520.0  |  long 청산가격 :  28820.0  | return: -8.57 %
개별 청산일 :  2013-05-02 00:00:00  종목코드 :  CELLTRION long 진입가격 :  44408.0  |  long 청산가격 :  25590.0  | return: -42.38 %
개별 청산일 :  2013-06-03 00:00:00  종목코드 :  SKhynix long 진입가격 :  29450.0  |  long 청산가격 :  31900.0  | return: 8.32 %
개별 청산일 :  2013-09-02 00:00:00  종목코드 :  CELLTRION long 진입가격 :  30859.0  |  long 청산가격 :  43070.0  | return: 39.57 %
개별 청산일 :  2013-10-01 00:00:00  종목코드 :  HYNDAIcar long 진입가격 :  244500.0  |  long 청산가격 :  254500.0  | return: 4.09 %
개별 청산일 :  2014-02-03 00:00:00  종목코드 :  NAVER long 진입가격 :  111558.0  |  long 청산가격 :  135392.0  | return: 21.36 %
개별 청산일 :  2014-03-03 00:00:00  종목코드 :  CELLTRION long 진입가격 :  36628.0  |  long 청산가격 :  41439.0  | return: 13.13 %
개별 청산일 :  2014-04-01 00:00:00  종목코드 :  NAVER long 진입가격 :  162830.0  |  long 청산가격 :  156221.0  | return: -4.06 %
개별 청산일 :  2014-06-02 00:00:00  종목코드 :  SKhynix long 진입가격 :  40650.0  |  long 청산가격 :  44700.0  | return: 9.96 %
개별 청산일 :  2014-08-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  18867.0  |  long 청산가격 :  28421.0  | return: 50.64 %
개별 청산일 :  2014-10-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  32716.0  |  long 청산가격 :  33419.0  | return: 2.15 %
개별 청산일 :  2014-11-03 00:00:00  종목코드 :  CELLTRION long 진입가격 :  40143.0  |  long 청산가격 :  34831.0  | return: -13.23 %
개별 청산일 :  2015-03-02 00:00:00  종목코드 :  KAKAO long 진입가격 :  29886.0  |  long 청산가격 :  25731.0  | return: -13.9 %
개별 청산일 :  2015-06-01 00:00:00  종목코드 :  CELLTRION long 진입가격 :  52103.0  |  long 청산가격 :  59127.0  | return: 13.48 %
개별 청산일 :  2015-07-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  23343.0  |  long 청산가격 :  27417.0  | return: 17.45 %
개별 청산일 :  2015-12-01 00:00:00  종목코드 :  SAMSUNGelec long 진입가격 :  27660.0  |  long 청산가격 :  26420.0  | return: -4.48 %
개별 청산일 :  2016-01-04 00:00:00  종목코드 :  CELLTRION long 진입가격 :  73178.0  |  long 청산가격 :  76803.0  | return: 4.95 %
개별 청산일 :  2016-02-01 00:00:00  종목코드 :  LGchem long 진입가격 :  341500.0  |  long 청산가격 :  289000.0  | return: -15.37 %
개별 청산일 :  2016-03-02 00:00:00  종목코드 :  CELLTRION long 진입가격 :  103323.0  |  long 청산가격 :  92301.0  | return: -10.67 %
개별 청산일 :  2016-07-01 00:00:00  종목코드 :  NAVER long 진입가격 :  137595.0  |  long 청산가격 :  142802.0  | return: 3.78 %
개별 청산일 :  2016-10-04 00:00:00  종목코드 :  NAVER long 진입가격 :  166035.0  |  long 청산가격 :  171843.0  | return: 3.5 %
개별 청산일 :  2016-11-01 00:00:00  종목코드 :  SKhynix long 진입가격 :  41800.0  |  long 청산가격 :  42000.0  | return: 0.48 %
개별 청산일 :  2017-03-02 00:00:00  종목코드 :  SKhynix long 진입가격 :  54000.0  |  long 청산가격 :  47700.0  | return: -11.67 %
개별 청산일 :  2017-04-03 00:00:00  종목코드 :  SAMSUNGsdi long 진입가격 :  129000.0  |  long 청산가격 :  138000.0  | return: 6.98 %
개별 청산일 :  2017-06-01 00:00:00  종목코드 :  SAMSUNGelec long 진입가격 :  44900.0  |  long 청산가격 :  44680.0  | return: -0.49 %
개별 청산일 :  2017-09-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  23684.0  |  long 청산가격 :  24487.0  | return: 3.39 %
개별 청산일 :  2017-10-10 00:00:00  종목코드 :  SAMSUNGsdi long 진입가격 :  197000.0  |  long 청산가격 :  213500.0  | return: 8.38 %
개별 청산일 :  2018-04-02 00:00:00  종목코드 :  CELLTRION long 진입가격 :  130471.0  |  long 청산가격 :  280136.0  | return: 114.71 %
개별 청산일 :  2018-05-02 00:00:00  종목코드 :  SAMSUNGsdi long 진입가격 :  199500.0  |  long 청산가격 :  183000.0  | return: -8.27 %
개별 청산일 :  2018-06-01 00:00:00  종목코드 :  SAMSUNGelec long 진입가격 :  53000.0  |  long 청산가격 :  51300.0  | return: -3.21 %
개별 청산일 :  2018-07-02 00:00:00  종목코드 :  SKhynix long 진입가격 :  91400.0  |  long 청산가격 :  83700.0  | return: -8.42 %
개별 청산일 :  2018-09-03 00:00:00  종목코드 :  LGchem long 진입가격 :  374500.0  |  long 청산가격 :  368000.0  | return: -1.74 %
개별 청산일 :  2018-11-01 00:00:00  종목코드 :  SAMSUNGbio long 진입가격 :  472000.0  |  long 청산가격 :  390000.0  | return: -17.37 %
개별 청산일 :  2019-02-01 00:00:00  종목코드 :  SAMSUNGbio long 진입가격 :  374000.0  |  long 청산가격 :  388500.0  | return: 3.88 %
개별 청산일 :  2019-03-04 00:00:00  종목코드 :  SKhynix long 진입가격 :  75900.0  |  long 청산가격 :  70100.0  | return: -7.64 %
개별 청산일 :  2019-04-01 00:00:00  종목코드 :  LGchem long 진입가격 :  387000.0  |  long 청산가격 :  370500.0  | return: -4.26 %
개별 청산일 :  2019-06-03 00:00:00  종목코드 :  KIA long 진입가격 :  44900.0  |  long 청산가격 :  39500.0  | return: -12.03 %
개별 청산일 :  2019-07-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  24587.0  |  long 청산가격 :  25992.0  | return: 5.71 %
개별 청산일 :  2019-08-01 00:00:00  종목코드 :  KIA long 진입가격 :  42900.0  |  long 청산가격 :  42850.0  | return: -0.12 %
개별 청산일 :  2019-10-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  27498.0  |  long 청산가격 :  27598.0  | return: 0.36 %
개별 청산일 :  2019-12-02 00:00:00  종목코드 :  SAMSUNGbio long 진입가격 :  396000.0  |  long 청산가격 :  390000.0  | return: -1.52 %
개별 청산일 :  2020-01-02 00:00:00  종목코드 :  KAKAO long 진입가격 :  31412.0  |  long 청산가격 :  30609.0  | return: -2.56 %
개별 청산일 :  2020-02-03 00:00:00  종목코드 :  SKhynix long 진입가격 :  94700.0  |  long 청산가격 :  94700.0  | return: 0.0 %
개별 청산일 :  2020-03-02 00:00:00  종목코드 :  SAMSUNGsdi long 진입가격 :  284000.0  |  long 청산가격 :  304500.0  | return: 7.22 %
개별 청산일 :  2020-04-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  35125.0  |  long 청산가격 :  30207.0  | return: -14.0 %
개별 청산일 :  2020-05-04 00:00:00  종목코드 :  CELLTRION long 진입가격 :  194437.0  |  long 청산가격 :  199838.0  | return: 2.78 %
개별 청산일 :  2020-06-01 00:00:00  종목코드 :  LGchem long 진입가격 :  360000.0  |  long 청산가격 :  396000.0  | return: 10.0 %
개별 청산일 :  2020-07-01 00:00:00  종목코드 :  KAKAO long 진입가격 :  52989.0  |  long 청산가격 :  54093.0  | return: 2.08 %
개별 청산일 :  2020-08-03 00:00:00  종목코드 :  CELLTRION long 진입가격 :  292147.0  |  long 청산가격 :  293620.0  | return: 0.5 %
개별 청산일 :  2020-10-05 00:00:00  종목코드 :  HYNDAIcar long 진입가격 :  180000.0  |  long 청산가격 :  187000.0  | return: 3.89 %
개별 청산일 :  2020-11-02 00:00:00  종목코드 :  SKhynix long 진입가격 :  83200.0  |  long 청산가격 :  79600.0  | return: -4.33 %
개별 청산일 :  2020-12-01 00:00:00  종목코드 :  SAMSUNGsdi long 진입가격 :  440000.0  |  long 청산가격 :  547000.0  | return: 24.32 %
개별 청산일 :  2021-01-04 00:00:00  종목코드 :  CELLTRION long 진입가격 :  337811.0  |  long 청산가격 :  347500.0  | return: 2.87 %
개별 청산일 :  2021-02-01 00:00:00  종목코드 :  SAMSUNGelec long 진입가격 :  83000.0  |  long 청산가격 :  83000.0  | return: 0.0 %
개별 청산일 :  2021-03-02 00:00:00  종목코드 :  KIA long 진입가격 :  90000.0  |  long 청산가격 :  80100.0  | return: -11.0 %
개별 청산일 :  2021-04-01 00:00:00  종목코드 :  SKhynix long 진입가격 :  144500.0  |  long 청산가격 :  140500.0  | return: -2.77 %

개별 청산일 :  2021-05-03 00:00:00  종목코드 :  CELLTRION long 진입가격 :  324500.0  |  long 청산가격 :  249500.0  | return: -23.11 %
개별 청산일 :  2021-06-01 00:00:00  종목코드 :  LGchem long 진입가격 :  907000.0  |  long 청산가격 :  825000.0  | return: -9.04 %
개별 청산일 :  2021-07-01 00:00:00  종목코드 :  CELLTRION long 진입가격 :  272500.0  |  long 청산가격 :  267500.0  | return: -1.83 %
개별 청산일 :  2021-08-02 00:00:00  종목코드 :  KAKAO long 진입가격 :  160000.0  |  long 청산가격 :  146000.0  | return: -8.75 %
개별 청산일 :  2021-09-01 00:00:00  종목코드 :  NAVER long 진입가격 :  433500.0  |  long 청산가격 :  445000.0  | return: 2.65 %
누적 청산일 :  2011-03-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0708 누적 수익률 :  0.9292
누적 청산일 :  2011-04-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0366 누적 수익률 :  0.9631
누적 청산일 :  2011-05-02 00:00:00 청산 종목수 :  1 청산 수익률 :  0.179 누적 수익률 :  1.1356
누적 청산일 :  2011-06-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0432 누적 수익률 :  1.0865
누적 청산일 :  2011-08-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.3459 누적 수익률 :  1.4623
누적 청산일 :  2011-09-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0405 누적 수익률 :  1.4031
누적 청산일 :  2011-10-04 00:00:00 청산 종목수 :  1 청산 수익률 :  0.094 누적 수익률 :  1.535
누적 청산일 :  2011-11-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0284 누적 수익률 :  1.4914
누적 청산일 :  2011-12-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.052 누적 수익률 :  1.4139
누적 청산일 :  2012-01-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.1088 누적 수익률 :  1.2601
누적 청산일 :  2012-02-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0009 누적 수익률 :  1.2589
누적 청산일 :  2012-04-02 00:00:00 청산 종목수 :  1 청산 수익률 :  0.099 누적 수익률 :  1.3835
누적 청산일 :  2012-05-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0347 누적 수익률 :  1.3354
누적 청산일 :  2012-09-03 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0614 누적 수익률 :  1.2535
누적 청산일 :  2012-11-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0948 누적 수익률 :  1.1346
누적 청산일 :  2012-12-03 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0431 누적 수익률 :  1.0857
누적 청산일 :  2013-01-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0224 누적 수익률 :  1.0613
누적 청산일 :  2013-02-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0857 누적 수익률 :  0.9704
누적 청산일 :  2013-05-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.4238 누적 수익률 :  0.5592
누적 청산일 :  2013-06-03 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0832 누적 수익률 :  0.6057
누적 청산일 :  2013-09-02 00:00:00 청산 종목수 :  1 청산 수익률 :  0.3957 누적 수익률 :  0.8454
누적 청산일 :  2013-10-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0409 누적 수익률 :  0.88
누적 청산일 :  2014-02-03 00:00:00 청산 종목수 :  1 청산 수익률 :  0.2136 누적 수익률 :  1.068
누적 청산일 :  2014-03-03 00:00:00 청산 종목수 :  1 청산 수익률 :  0.1313 누적 수익률 :  1.2083
누적 청산일 :  2014-04-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0406 누적 수익률 :  1.1592
누적 청산일 :  2014-06-02 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0996 누적 수익률 :  1.2747
누적 청산일 :  2014-08-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.5064 누적 수익률 :  1.9202
누적 청산일 :  2014-10-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0215 누적 수익률 :  1.9615
누적 청산일 :  2014-11-03 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.1323 누적 수익률 :  1.7019
누적 청산일 :  2015-03-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.139 누적 수익률 :  1.4653
누적 청산일 :  2015-06-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.1348 누적 수익률 :  1.6628
누적 청산일 :  2015-07-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.1745 누적 수익률 :  1.953
누적 청산일 :  2015-12-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0448 누적 수익률 :  1.8655
누적 청산일 :  2016-01-04 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0495 누적 수익률 :  1.9579
누적 청산일 :  2016-02-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.1537 누적 수익률 :  1.6569
누적 청산일 :  2016-03-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.1067 누적 수익률 :  1.4802
누적 청산일 :  2016-07-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0378 누적 수익률 :  1.5362
누적 청산일 :  2016-10-04 00:00:00 청산 종목수 :  1 청산 수익률 :  0.035 누적 수익률 :  1.5899
누적 청산일 :  2016-11-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0048 누적 수익률 :  1.5975
누적 청산일 :  2017-03-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.1167 누적 수익률 :  1.4111
누적 청산일 :  2017-04-03 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0698 누적 수익률 :  1.5096
누적 청산일 :  2017-06-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0049 누적 수익률 :  1.5022
누적 청산일 :  2017-09-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0339 누적 수익률 :  1.5531
누적 청산일 :  2017-10-10 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0838 누적 수익률 :  1.6832
누적 청산일 :  2018-04-02 00:00:00 청산 종목수 :  1 청산 수익률 :  1.1471 누적 수익률 :  3.614
누적 청산일 :  2018-05-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0827 누적 수익률 :  3.3151
누적 청산일 :  2018-06-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0321 누적 수익률 :  3.2088
누적 청산일 :  2018-07-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0842 누적 수익률 :  2.9385
누적 청산일 :  2018-09-03 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0174 누적 수익률 :  2.8875
누적 청산일 :  2018-11-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.1737 누적 수익률 :  2.3858
누적 청산일 :  2019-02-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0388 누적 수익률 :  2.4783
누적 청산일 :  2019-03-04 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0764 누적 수익률 :  2.2889
누적 청산일 :  2019-04-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0426 누적 수익률 :  2.1914
누적 청산일 :  2019-06-03 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.1203 누적 수익률 :  1.9278
누적 청산일 :  2019-07-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0571 누적 수익률 :  2.038
누적 청산일 :  2019-08-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0012 누적 수익률 :  2.0356
누적 청산일 :  2019-10-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0036 누적 수익률 :  2.043
누적 청산일 :  2019-12-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0152 누적 수익률 :  2.012
누적 청산일 :  2020-01-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0256 누적 수익률 :  1.9606
누적 청산일 :  2020-03-02 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0722 누적 수익률 :  2.1021
누적 청산일 :  2020-04-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.14 누적 수익률 :  1.8078
누적 청산일 :  2020-05-04 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0278 누적 수익률 :  1.858
누적 청산일 :  2020-06-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.1 누적 수익률 :  2.0438
누적 청산일 :  2020-07-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0208 누적 수익률 :  2.0864
누적 청산일 :  2020-08-03 00:00:00 청산 종목수 :  1 청산 수익률 :  0.005 누적 수익률 :  2.0969
누적 청산일 :  2020-10-05 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0389 누적 수익률 :  2.1785
누적 청산일 :  2020-11-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0433 누적 수익률 :  2.0842
누적 청산일 :  2020-12-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.2432 누적 수익률 :  2.591
누적 청산일 :  2021-01-04 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0287 누적 수익률 :  2.6654
누적 청산일 :  2021-03-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.11 누적 수익률 :  2.3722
누적 청산일 :  2021-04-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0277 누적 수익률 :  2.3065
누적 청산일 :  2021-05-03 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.2311 누적 수익률 :  1.7734
누적 청산일 :  2021-06-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0904 누적 수익률 :  1.6131
누적 청산일 :  2021-07-01 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0183 누적 수익률 :  1.5835
누적 청산일 :  2021-08-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0875 누적 수익률 :  1.4449
누적 청산일 :  2021-09-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0265 누적 수익률 :  1.4833
누적 수익률 : 1.4833