# Relativemomentum strategy

In [89]:
import pandas as pd
import numpy as np
import datetime
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
plt.style.use(['fivethirtyeight'])

In [90]:
def data_processing(sample, ticker, base_date):
    sample.reset_index(inplace=True)
    sample.reset_index(inplace=True, drop=True)
    sample['CODE'] = ticker
    sample = sample[sample['Date'] >= base_date][['Date', 'CODE', 'Close']].copy()
    sample.reset_index(inplace=True, drop=True)
    sample['STD_YM'] = sample['Date'].map(lambda x : pd.Timestamp(x + pd.offsets.MonthEnd(n=0)).strftime('%Y-%m'))
    sample['1M_RET'] = 0.0
    ym_keys = list(sample['STD_YM'].unique())
    return sample, ym_keys

In [95]:
month_last_df = pd.DataFrame(columns=['Date', 'CODE', 'Close', '1M_RET'])
stock_df = pd.DataFrame(columns=['Date', 'CODE', 'Close'])
stocks = pd.read_csv('./stock_codes.csv')
stocks['code'] = stocks['code'].map(lambda x : x[1:])
stocks.set_index('code', inplace=True)
print(stocks)

              label
code
005930  SAMSUNGelec
051910       LGchem
000660      SKhynix
207940   SAMSUNGbio
035420        NAVER
035720        KAKAO
005380    HYNDAIcar
006400   SAMSUNGsdi
068270    CELLTRION
000270          KIA

In [96]:

dataframes = []

for st in stocks.index:
    read_df = fdr.DataReader(st)
    price_df, ym_keys = data_processing(read_df, stocks.loc[st,'label'], base_date='2018-01-02')
    stock_df = stock_df.append(price_df.loc[:, ['Date', 'CODE', 'Close']], sort=False)
    for ym in ym_keys:
        m_ret = price_df.loc[price_df[price_df['STD_YM'] == ym].index[-1], 'Close']\
              / price_df.loc[price_df[price_df['STD_YM'] == ym].index[0], 'Close']
        price_df.loc[price_df['STD_YM'] == ym, ['1M_RET']] = m_ret
        month_last_df = month_last_df.append(price_df.loc[price_df[price_df['STD_YM'] == ym].index[-1], ['Date', 'CODE', '1M_RET']])

In [97]:
month_last_df

          Date         CODE    1M_RET  Close
21  2018-01-31  SAMSUNGelec  0.978048    NaN
39  2018-02-28  SAMSUNGelec  0.944601    NaN
60  2018-03-30  SAMSUNGelec  1.069535    NaN
81  2018-04-30  SAMSUNGelec  1.091883    NaN
101 2018-05-31  SAMSUNGelec  0.956604    NaN
..         ...          ...       ...    ...
838 2021-05-31          KIA  1.068664    NaN
860 2021-06-30          KIA  1.045508    NaN
882 2021-07-30          KIA  0.923757    NaN
903 2021-08-31          KIA  1.004723    NaN
915 2021-09-16          KIA  0.984848    NaN

[450 rows x 4 columns]

In [70]:
month_ret_df = month_last_df.pivot('Date', 'CODE', '1M_RET').copy()
month_ret_df

CODE,CELLTRION,HYNDAIcar,KAKAO,KIA,LGchem,NAVER,SAMSUNGbio,SAMSUNGelec,SAMSUNGsdi,SKhynix
Date,,,,,,,,,,
2018-01-31,1.397522,1.083612,0.955620,1.056402,1.051095,1.028248,1.125802,0.978048,0.929245,0.959530
2018-02-28,1.177456,1.006231,0.904581,1.000000,0.915173,0.869990,1.014656,0.944601,0.912000,1.032258
2018-03-30,0.831989,0.919872,1.035286,0.925373,1.005215,1.007635,1.046187,1.069535,1.129032,1.050388
2018-04-30,0.891446,1.077441,0.860459,1.060897,0.929032,0.912099,1.004115,1.091883,0.919799,1.039360
2018-05-31,1.025093,0.868750,0.903925,0.942511,0.998525,0.906508,1.076733,0.956604,1.095628,1.123947
2018-06-29,1.109693,0.896429,1.095738,0.967085,0.989614,1.122055,0.923588,0.909357,1.023923,0.937637
2018-07-31,0.894560,1.048583,1.008982,1.029221,1.181102,0.953395,0.899879,1.015368,1.070093,1.031063
2018-08-31,0.962570,0.972763,1.111116,1.009449,0.977303,1.032968,1.208877,1.040816,1.044248,0.969626
2018-09-28,1.112360,1.036000,0.979415,1.103774,0.993207,0.949601,1.131356,0.978925,1.065979,0.906948
2018-10-31,0.744863,0.825581,0.766521,0.826783,0.941655,0.801809,0.720260,0.914779,0.932673,0.925373
2018-11-30,1.052747,0.986175,1.208391,1.062718,1.019174,1.134529,0.857692,0.992883,0.903720,1.019034
2018-12-28,0.941679,1.092166,0.907467,1.108553,0.950685,0.968254,1.155456,0.894798,0.990950,0.858156
2019-01-31,1.020975,1.135965,0.973526,1.108232,1.091988,1.152542,1.066845,1.190968,1.061758,1.219472
2019-02-28,0.953378,0.976834,1.039168,1.019526,1.061141,0.996255,0.967825,0.973031,1.046256,0.922266
2019-03-29,0.872288,0.979508,0.953942,0.997179,0.945736,0.898551,0.848606,0.995541,0.899371,1.058488
2019-04-30,1.164837,1.149378,1.165095,1.276446,0.974359,0.963710,1.038168,1.017758,1.092379,1.031332
2019-05-31,0.917876,0.971119,1.012192,0.876392,0.927577,0.913934,0.890208,0.925926,0.918067,0.809170
2019-06-28,1.064764,1.010830,1.073494,1.113924,1.051929,0.991304,1.064892,1.073059,1.051111,1.043544
2019-07-31,0.819713,0.897163,0.980725,1.019814,0.950704,1.205240,0.872274,0.973176,1.046218,1.098571
2019-08-30,0.920818,1.023904,1.063253,1.019837,0.993985,1.042705,0.967626,0.973451,1.004024,0.996139
2019-09-30,1.047919,1.022901,0.989054,1.038724,0.931571,1.046667,1.151685,1.119863,0.906504,1.059278
2019-10-31,1.152745,0.920755,1.029096,0.944506,1.009852,1.025000,1.233746,1.031730,1.008869,1.000000
2019-11-29,0.874371,0.975806,1.068723,1.017647,0.991909,1.029940,0.993687,0.982422,1.000000,0.973526
2019-12-30,1.079776,0.991770,0.980835,1.038687,1.027508,1.087464,1.110256,1.107143,1.008547,1.168944
2020-01-31,0.916667,1.059322,1.042602,0.962353,1.074841,0.983562,1.130688,1.021739,1.189655,0.987328
2020-02-28,1.021021,0.931174,1.078372,0.903990,1.051429,0.980282,0.966632,0.947552,1.038732,0.928194
2020-03-31,1.308575,0.781498,0.888569,0.753623,0.809019,0.971429,1.032120,0.868182,0.789819,0.904452
2020-04-29,1.063131,1.096019,1.222597,1.160470,1.289384,1.211656,1.283978,1.091703,1.238095,1.067602
2020-05-29,1.049140,1.071038,1.412871,1.193380,1.084722,1.135678,1.118705,1.045361,1.296029,1.006173
2020-06-30,1.345052,0.977000,1.013248,0.926301,1.238636,1.126582,1.232114,1.031250,0.993169,1.017943
2020-07-31,0.996639,1.288187,1.274583,1.254658,1.155646,1.118959,0.974734,1.100760,1.072874,0.970692
2020-08-31,0.993311,1.389764,1.112017,1.069270,1.165354,1.025437,1.057065,0.950704,1.091677,0.918093
2020-09-29,0.864095,0.991667,0.907851,1.086906,0.880215,0.913713,0.883483,1.073801,0.953795,1.117021
2020-10-30,0.946955,0.879679,0.890688,1.000000,0.927162,0.971524,0.995620,0.964225,1.012600,0.960337
2020-11-30,1.390594,1.064516,1.100150,1.122330,1.284109,0.971979,1.126074,1.162021,1.211364,1.224874
2020-12-30,1.062724,1.046322,1.040057,1.043478,1.018541,1.024518,1.041614,1.194690,1.148080,1.179104
2021-01-29,0.932374,1.103614,1.113647,1.289062,1.031496,1.170648,0.956574,0.987952,1.093890,0.972222
2021-02-26,0.801887,0.993711,1.105320,0.882222,0.874737,1.077586,0.922509,0.993976,0.904698,1.132000
2021-03-31,1.113208,0.912134,1.013218,1.034956,0.903479,0.998675,0.993360,0.973684,0.964912,0.916955
2021-04-30,0.819723,0.968037,1.133221,0.922156,1.137973,0.949802,1.076305,0.983112,0.980510,0.911032
2021-05-31,1.100200,1.077982,1.074236,1.068664,0.902977,0.998623,1.093144,0.985312,0.962441,0.965779
2021-06-30,0.985321,1.010549,1.283465,1.045508,1.030303,1.137602,1.010817,1.001241,1.133117,0.992218
2021-07-30,0.947664,0.900826,0.918750,0.923757,0.996450,1.049637,1.040936,0.980025,1.023481,0.903614
2021-08-31,1.111954,0.965909,1.061644,1.004723,0.877315,1.012687,1.056955,0.967213,1.061580,0.918103
2021-09-16,0.919105,0.967442,0.788961,0.984848,0.993065,0.903371,0.952183,0.990885,0.920051,0.962963

In [71]:
month_ret_df = month_ret_df.rank(axis=1, ascending=False, method='max', pct=True)
month_ret_df

CODE,CELLTRION,HYNDAIcar,KAKAO,KIA,LGchem,NAVER,SAMSUNGbio,SAMSUNGelec,SAMSUNGsdi,SKhynix
Date,,,,,,,,,,
2018-01-31,0.1,0.3,0.9,0.4,0.5,0.6,0.2,0.7,1.0,0.8
2018-02-28,0.1,0.4,0.9,0.5,0.7,1.0,0.3,0.6,0.8,0.2
2018-03-30,1.0,0.9,0.5,0.8,0.7,0.6,0.4,0.2,0.1,0.3
2018-04-30,0.9,0.2,1.0,0.3,0.6,0.8,0.5,0.1,0.7,0.4
2018-05-31,0.4,1.0,0.9,0.7,0.5,0.8,0.3,0.6,0.2,0.1
2018-06-29,0.2,1.0,0.3,0.6,0.5,0.1,0.8,0.9,0.4,0.7
2018-07-31,1.0,0.3,0.7,0.5,0.1,0.8,0.9,0.6,0.2,0.4
2018-08-31,1.0,0.8,0.2,0.6,0.7,0.5,0.1,0.4,0.3,0.9
2018-09-28,0.2,0.5,0.7,0.3,0.6,0.9,0.1,0.8,0.4,1.0
2018-10-31,0.9,0.6,0.8,0.5,0.1,0.7,1.0,0.4,0.2,0.3
2018-11-30,0.4,0.8,0.1,0.3,0.5,0.2,1.0,0.7,0.9,0.6
2018-12-28,0.7,0.3,0.8,0.2,0.6,0.5,0.1,0.9,0.4,1.0
2019-01-31,0.9,0.4,1.0,0.5,0.6,0.3,0.7,0.2,0.8,0.1
2019-02-28,0.9,0.6,0.3,0.4,0.1,0.5,0.8,0.7,0.2,1.0
2019-03-29,0.9,0.4,0.5,0.2,0.6,0.8,1.0,0.3,0.7,0.1
2019-04-30,0.3,0.4,0.2,0.1,0.9,1.0,0.6,0.8,0.5,0.7
2019-05-31,0.6,0.2,0.1,0.9,0.3,0.7,0.8,0.4,0.5,1.0
2019-06-28,0.5,0.9,0.2,0.1,0.6,1.0,0.4,0.3,0.7,0.8
2019-07-31,1.0,0.8,0.5,0.4,0.7,0.1,0.9,0.6,0.3,0.2
2019-08-30,1.0,0.3,0.1,0.4,0.7,0.2,0.9,0.8,0.5,0.6
2019-09-30,0.4,0.7,0.8,0.6,0.9,0.5,0.1,0.2,1.0,0.3
2019-10-31,0.2,1.0,0.4,0.9,0.6,0.5,0.1,0.3,0.7,0.8
2019-11-29,1.0,0.8,0.1,0.3,0.6,0.2,0.5,0.7,0.4,0.9
2019-12-30,0.5,0.9,1.0,0.6,0.7,0.4,0.2,0.3,0.8,0.1
2020-01-31,1.0,0.4,0.5,0.9,0.3,0.8,0.2,0.6,0.1,0.7
2020-02-28,0.4,0.8,0.1,1.0,0.2,0.5,0.6,0.7,0.3,0.9
2020-03-31,0.1,0.9,0.5,1.0,0.7,0.3,0.2,0.6,0.8,0.4
2020-04-29,1.0,0.7,0.4,0.6,0.1,0.5,0.2,0.8,0.3,0.9
2020-05-29,0.8,0.7,0.1,0.3,0.6,0.4,0.5,0.9,0.2,1.0
2020-06-30,0.1,0.9,0.7,1.0,0.2,0.4,0.3,0.5,0.8,0.6
2020-07-31,0.8,0.1,0.2,0.3,0.4,0.5,0.9,0.6,0.7,1.0
2020-08-31,0.8,0.1,0.3,0.5,0.2,0.7,0.6,0.9,0.4,1.0
2020-09-29,1.0,0.4,0.7,0.2,0.9,0.6,0.8,0.3,0.5,0.1
2020-10-30,0.7,1.0,0.9,0.2,0.8,0.4,0.3,0.5,0.1,0.6
2020-11-30,0.1,0.9,0.8,0.7,0.2,1.0,0.6,0.5,0.4,0.3
2020-12-30,0.4,0.5,0.8,0.6,1.0,0.9,0.7,0.1,0.3,0.2
2021-01-29,1.0,0.4,0.3,0.1,0.6,0.2,0.9,0.7,0.5,0.8
2021-02-26,1.0,0.5,0.2,0.8,0.9,0.3,0.6,0.4,0.7,0.1
2021-03-31,0.1,0.9,0.3,0.2,1.0,0.4,0.5,0.6,0.7,0.8
2021-04-30,1.0,0.6,0.2,0.8,0.1,0.7,0.3,0.4,0.5,0.9
2021-05-31,0.1,0.3,0.4,0.5,1.0,0.6,0.2,0.7,0.9,0.8
2021-06-30,1.0,0.7,0.1,0.4,0.5,0.2,0.6,0.8,0.3,0.9
2021-07-30,0.6,1.0,0.8,0.7,0.4,0.1,0.2,0.5,0.3,0.9
2021-08-31,0.1,0.8,0.2,0.6,1.0,0.5,0.4,0.7,0.3,0.9
2021-09-16,0.8,0.4,1.0,0.3,0.1,0.9,0.6,0.2,0.7,0.5

In [72]:
month_ret_df = month_ret_df.where(month_ret_df < 0.4, np.nan)
month_ret_df.fillna(0, inplace=True)
month_ret_df[month_ret_df != 0] = 1
stock_codes = list(stock_df['CODE'].unique())
month_ret_df.tail(10)

CODE,CELLTRION,HYNDAIcar,KAKAO,KIA,LGchem,NAVER,SAMSUNGbio,SAMSUNGelec,SAMSUNGsdi,SKhynix
Date,,,,,,,,,,
2020-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
2021-01-29,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2021-02-26,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2021-03-31,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-04-30,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2021-05-31,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2021-06-30,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2021-07-30,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2021-08-31,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2021-09-16,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [73]:
def create_trade_book(sample, sample_codes):
    book = pd.DataFrame()
    book = sample[sample_codes].copy()
    book['STD_YM'] = sample.index.map(lambda x : pd.Timestamp(x + pd.offsets.MonthEnd(n=0)).strftime('%Y-%m'))
    for c in sample_codes:
        book['p ' + c] = ''
        book['r ' + c] = ''
    return book

In [74]:
def tradings(book, s_codes):
    std_ym = ''
    buy_phase = False
    
    for s in s_codes:
        print(s)
        for i in book.index:
            if book.loc[i,'p '+ s] == '' and book.shift(1).loc[i,'p '+ s] == 'ready ' + s:
                std_ym = book.loc[i, 'STD_YM']
                buy_phase = True
            
            if book.loc[i,'p '+ s] == ''and book.loc[i, 'STD_YM'] == std_ym and buy_phase == True:
                book.loc[i,'p '+ s] = 'buy ' + s
            
            if book.loc[i,'p '+ s] == '':
                std_ym = None
                buy_phase = False
    return book

In [75]:
def multi_returns(book, s_codes):
    rtn = 1.0
    buy_dict = {}
    num = len(s_codes)
    sell_dict = {}
    
    for i in book.index:
        for s in s_codes:
            if book.loc[i,'p '+ s] == 'buy '+ s and \
            book.shift(1).loc[i,'p '+ s] == 'ready '+ s and \
            book.shift(2).loc[i,'p '+ s] == '':
                buy_dict[s] = book.loc[i, s]
            elif book.loc[i,'p '+ s] == '' and book.shift(1).loc[i,'p '+ s] == 'buy '+ s:
                sell_dict[s] = book.loc[i, s]
                rtn = (sell_dict[s] / buy_dict[s]) - 1
                book.loc[i, 'r '+ s] = rtn
                print('개별 청산일 : ', i, '종목 코드 : ', s, 'long 진입가격 : ', buy_dict[s], \
                      ' | long 청산가격 : ', sell_dict[s], ' | return:', round(rtn * 100, 2), '%')
                        
            if book.loc[i,'p '+ s] == '':
                buy_dict[s] = 0.0
                sell_dict[s] = 0.0
                
    acc_rtn = 1.0
    
    for i in book.index:
        rtn = 0.0
        count = 0
        for s in s_codes:
            if book.loc[i,'p '+ s] == '' and book.shift(1).loc[i,'p '+ s] == 'buy '+ s:
                count += 1
                rtn += book.loc[i, 'r '+ s]
        
        if (rtn != 0.0) & (count != 0) :
            acc_rtn *= (rtn/count) + 1
            print('누적 청산일 : ', i, '청산 종목수 : ', count, \
                  '청산 수익률 : ', round((rtn/count), 4), '누적 수익률 : ', round(acc_rtn, 4))
            
        book.loc[i,'acc_rtn'] = acc_rtn
        
    print('누적 수익률 :', round(acc_rtn, 4))

In [76]:
sig_dict = dict()
for date in month_ret_df.index:
    ticker_list = list(month_ret_df.loc[date, month_ret_df.loc[date,:] >= 1.0].index)
    sig_dict[date] = ticker_list
stock_c_matrix = stock_df.pivot('Date', 'CODE', 'Close').copy()
book = create_trade_book(stock_c_matrix, list(stock_df['CODE'].unique()))

for date, values in sig_dict.items():
    for stock in values:
        book.loc[date, 'p '+ stock] = 'ready ' + stock

book = tradings(book, stock_codes)

book

SAMSUNGelec
LGchem
SKhynix
SAMSUNGbio
NAVER
KAKAO
HYNDAIcar
SAMSUNGsdi
CELLTRION
KIA

CODE,SAMSUNGelec,LGchem,SKhynix,SAMSUNGbio,NAVER,KAKAO,HYNDAIcar,SAMSUNGsdi,CELLTRION,KIA,...,p KAKAO,r KAKAO,p HYNDAIcar,r HYNDAIcar,p SAMSUNGsdi,r SAMSUNGsdi,p CELLTRION,r CELLTRION,p KIA,r KIA
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,51020,411000,76600,389500,177251,29405,149500,212000,208167,32800,...,,,,,,,,,,
2018-01-03,51620,409500,77700,391000,174447,29906,150500,207500,227334,32600,...,,,,,,,,,,
2018-01-04,51080,395500,77100,383000,178853,31311,146500,208500,230376,31550,...,,,,,,,,,,
2018-01-05,52120,405000,79300,390000,181857,31311,149000,220500,245949,31950,...,,,,,,,,,,
2018-01-08,52020,424500,78200,399500,190269,32014,151000,225500,278754,32400,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-10,75300,740000,105000,925000,410000,130000,206500,750000,267500,82500,...,buy KAKAO,,,,buy SAMSUNGsdi,,buy CELLTRION,,,
2021-09-13,76300,747000,106500,913000,408000,124500,205000,741000,262000,82600,...,buy KAKAO,,,,buy SAMSUNGsdi,,buy CELLTRION,,,
2021-09-14,76600,734000,107500,913000,402500,124000,209000,755000,263000,83400,...,buy KAKAO,,,,buy SAMSUNGsdi,,buy CELLTRION,,,
2021-09-15,77000,718000,107500,936000,400500,122500,209500,750000,272500,83300,...,buy KAKAO,,,,buy SAMSUNGsdi,,buy CELLTRION,,,
2021-09-16,76100,716000,104000,916000,402000,121500,208000,725000,267000,84500,...,buy KAKAO,,,,buy SAMSUNGsdi,,buy CELLTRION,,ready KIA,

In [77]:
multi_returns(book, stock_codes)

개별 청산일 :  2018-03-02 00:00:00 종목 코드 :  HYNDAIcar long 진입가격 :  160500  | long 청산가격 :  156000  | return: -2.8 %
개별 청산일 :  2018-04-02 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  443500  | long 청산가격 :  486000  | return: 9.58 %
개별 청산일 :  2018-04-02 00:00:00 종목 코드 :  CELLTRION long 진입가격 :  276266  | long 청산가격 :  280136  | return: 1.4 %
개별 청산일 :  2018-05-02 00:00:00 종목 코드 :  SKhynix long 진입가격 :  77400  | long 청산가격 :  83100  | return: 7.36 %
개별 청산일 :  2018-05-02 00:00:00 종목 코드 :  SAMSUNGsdi long 진입가격 :  199500  | long 청산가격 :  183000  | return: -8.27 %
개별 청산일 :  2018-06-01 00:00:00 종목 코드 :  SAMSUNGelec long 진입가격 :  48540  | long 청산가격 :  51300  | return: 5.69 %
개별 청산일 :  2018-06-01 00:00:00 종목 코드 :  HYNDAIcar long 진입가격 :  160000  | long 청산가격 :  140000  | return: -12.5 %
개별 청산일 :  2018-06-01 00:00:00 종목 코드 :  KIA long 진입가격 :  33050  | long 청산가격 :  31900  | return: -3.48 %
개별 청산일 :  2018-07-02 00:00:00 종목 코드 :  SKhynix long 진입가격 :  91400  | long 청산가격 :  83700  | return: -8.42 %
개별 청산일 :  2018-07-02 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  451500  | long 청산가격 :  414500  | return: -8.19 %
개별 청산일 :  2018-07-02 00:00:00 종목 코드 :  SAMSUNGsdi long 진입가격 :  209000  | long 청산가격 :  214000  | return: 2.39 %
개별 청산일 :  2018-08-01 00:00:00 종목 코드 :  NAVER long 진입가격 :  150413  | long 청산가격 :  145806  | return: -3.06 %
개별 청산일 :  2018-08-01 00:00:00 종목 코드 :  KAKAO long 진입가격 :  22379  | long 청산가격 :  22580  | return: 0.9 %
개별 청산일 :  2018-08-01 00:00:00 종목 코드 :  CELLTRION long 진입가격 :  279676  | long 청산가격 :  258480  | return: -7.58 %
개별 청산일 :  2018-09-03 00:00:00 종목 코드 :  LGchem long 진입가격 :  374500  | long 청산가격 :  368000  | return: -1.74 %
개별 청산일 :  2018-09-03 00:00:00 종목 코드 :  HYNDAIcar long 진입가격 :  128500  | long 청산가격 :  125000  | return: -2.72 %
개별 청산일 :  2018-10-01 00:00:00 종목 코드 :  KAKAO long 진입가격 :  24387  | long 청산가격 :  23985  | return: -1.65 %
개별 청산일 :  2018-10-01 00:00:00 종목 코드 :  SAMSUNGsdi long 진입가격 :  226000  | long 청산가격 :  252500  | return: 11.73 %
개별 청산일 :  2018-11-01 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  472000  | long 청산가격 :  390000  | return: -17.37 %
개별 청산일 :  2018-11-01 00:00:00 종목 코드 :  CELLTRION long 진입가격 :  269079  | long 청산가격 :  209641  | return: -22.09 %
개별 청산일 :  2018-11-01 00:00:00 종목 코드 :  KIA long 진입가격 :  34350  | long 청산가격 :  28700  | return: -16.45 %
개별 청산일 :  2018-12-03 00:00:00 종목 코드 :  LGchem long 진입가격 :  339000  | long 청산가격 :  365000  | return: 7.67 %
개별 청산일 :  2018-12-03 00:00:00 종목 코드 :  SKhynix long 진입가격 :  68300  | long 청산가격 :  70500  | return: 3.22 %
개별 청산일 :  2018-12-03 00:00:00 종목 코드 :  SAMSUNGsdi long 진입가격 :  228500  | long 청산가격 :  221000  | return: -3.28 %
개별 청산일 :  2019-01-02 00:00:00 종목 코드 :  NAVER long 진입가격 :  126000  | long 청산가격 :  118000  | return: -6.35 %
개별 청산일 :  2019-01-02 00:00:00 종목 코드 :  KAKAO long 진입가격 :  22781  | long 청산가격 :  20473  | return: -10.13 %
개별 청산일 :  2019-02-01 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  374000  | long 청산가격 :  388500  | return: 3.88 %
개별 청산일 :  2019-02-01 00:00:00 종목 코드 :  HYNDAIcar long 진입가격 :  114000  | long 청산가격 :  129500  | return: 13.6 %
개별 청산일 :  2019-02-01 00:00:00 종목 코드 :  KIA long 진입가격 :  30400  | long 청산가격 :  35850  | return: 17.93 %
개별 청산일 :  2019-03-04 00:00:00 종목 코드 :  SAMSUNGelec long 진입가격 :  46350  | long 청산가격 :  44850  | return: -3.24 %
개별 청산일 :  2019-03-04 00:00:00 종목 코드 :  SKhynix long 진입가격 :  75900  | long 청산가격 :  70100  | return: -7.64 %
개별 청산일 :  2019-03-04 00:00:00 종목 코드 :  NAVER long 진입가격 :  133500  | long 청산가격 :  138000  | return: 3.37 %
개별 청산일 :  2019-04-01 00:00:00 종목 코드 :  LGchem long 진입가격 :  387000  | long 청산가격 :  370500  | return: -4.26 %
개별 청산일 :  2019-04-01 00:00:00 종목 코드 :  KAKAO long 진입가격 :  21777  | long 청산가격 :  20673  | return: -5.07 %
개별 청산일 :  2019-04-01 00:00:00 종목 코드 :  SAMSUNGsdi long 진입가격 :  238500  | long 청산가격 :  216500  | return: -9.22 %
개별 청산일 :  2019-05-02 00:00:00 종목 코드 :  SAMSUNGelec long 진입가격 :  45050  | long 청산가격 :  45900  | return: 1.89 %
개별 청산일 :  2019-05-02 00:00:00 종목 코드 :  SKhynix long 진입가격 :  76600  | long 청산가격 :  80700  | return: 5.35 %
개별 청산일 :  2019-06-03 00:00:00 종목 코드 :  CELLTRION long 진입가격 :  194157  | long 청산가격 :  181026  | return: -6.76 %
개별 청산일 :  2019-06-03 00:00:00 종목 코드 :  KIA long 진입가격 :  35450  | long 청산가격 :  39500  | return: 11.42 %
개별 청산일 :  2019-07-01 00:00:00 종목 코드 :  LGchem long 진입가격 :  337000  | long 청산가격 :  355000  | return: 5.34 %
개별 청산일 :  2019-07-01 00:00:00 종목 코드 :  HYNDAIcar long 진입가격 :  138500  | long 청산가격 :  141000  | return: 1.81 %
개별 청산일 :  2019-08-01 00:00:00 종목 코드 :  SAMSUNGelec long 진입가격 :  46600  | long 청산가격 :  45200  | return: -3.0 %
개별 청산일 :  2019-08-01 00:00:00 종목 코드 :  KAKAO long 진입가격 :  24688  | long 청산가격 :  25390  | return: 2.84 %
개별 청산일 :  2019-08-01 00:00:00 종목 코드 :  KIA long 진입가격 :  42900  | long 청산가격 :  42850  | return: -0.12 %
개별 청산일 :  2019-09-02 00:00:00 종목 코드 :  SKhynix long 진입가격 :  77700  | long 청산가격 :  77600  | return: -0.13 %
개별 청산일 :  2019-09-02 00:00:00 종목 코드 :  SAMSUNGsdi long 진입가격 :  248500  | long 청산가격 :  246000  | return: -1.01 %
개별 청산일 :  2019-10-01 00:00:00 종목 코드 :  NAVER long 진입가격 :  140500  | long 청산가격 :  160000  | return: 13.88 %
개별 청산일 :  2019-10-01 00:00:00 종목 코드 :  KAKAO long 진입가격 :  27498  | long 청산가격 :  27598  | return: 0.36 %
개별 청산일 :  2019-10-01 00:00:00 종목 코드 :  HYNDAIcar long 진입가격 :  131000  | long 청산가격 :  132500  | return: 1.15 %
개별 청산일 :  2019-11-01 00:00:00 종목 코드 :  SKhynix long 진입가격 :  82000  | long 청산가격 :  83100  | return: 1.34 %
개별 청산일 :  2019-12-02 00:00:00 종목 코드 :  SAMSUNGelec long 진입가격 :  48850  | long 청산가격 :  50400  | return: 3.17 %
개별 청산일 :  2019-12-02 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  323000  | long 청산가격 :  390000  | return: 20.74 %
개별 청산일 :  2019-12-02 00:00:00 종목 코드 :  CELLTRION long 진입가격 :  186653  | long 청산가격 :  164611  | return: -11.81 %
개별 청산일 :  2020-01-02 00:00:00 종목 코드 :  NAVER long 진입가격 :  171500  | long 청산가격 :  182500  | return: 6.41 %
개별 청산일 :  2020-01-02 00:00:00 종목 코드 :  KAKAO long 진입가격 :  31412  | long 청산가격 :  30609  | return: -2.56 %
개별 청산일 :  2020-01-02 00:00:00 종목 코드 :  KIA long 진입가격 :  42650  | long 청산가격 :  42500  | return: -0.35 %
개별 청산일 :  2020-02-03 00:00:00 종목 코드 :  SAMSUNGelec long 진입가격 :  55200  | long 청산가격 :  57200  | return: 3.62 %
개별 청산일 :  2020-02-03 00:00:00 종목 코드 :  SKhynix long 진입가격 :  94700  | long 청산가격 :  94700  | return: 0.0 %
개별 청산일 :  2020-03-02 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  428500  | long 청산가격 :  467000  | return: 8.98 %
개별 청산일 :  2020-04-01 00:00:00 종목 코드 :  LGchem long 진입가격 :  350000  | long 청산가격 :  292000  | return: -16.57 %
개별 청산일 :  2020-04-01 00:00:00 종목 코드 :  KAKAO long 진입가격 :  35125  | long 청산가격 :  30207  | return: -14.0 %
개별 청산일 :  2020-04-01 00:00:00 종목 코드 :  SAMSUNGsdi long 진입가격 :  284000  | long 청산가격 :  231000  | return: -18.66 %
개별 청산일 :  2020-05-04 00:00:00 종목 코드 :  NAVER long 진입가격 :  163000  | long 청산가격 :  199000  | return: 22.09 %
개별 청산일 :  2020-05-04 00:00:00 종목 코드 :  CELLTRION long 진입가격 :  194437  | long 청산가격 :  199838  | return: 2.78 %
개별 청산일 :  2020-06-01 00:00:00 종목 코드 :  LGchem long 진입가격 :  360000  | long 청산가격 :  396000  | return: 10.0 %
개별 청산일 :  2020-06-01 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  452500  | long 청산가격 :  629000  | return: 39.01 %
개별 청산일 :  2020-07-01 00:00:00 종목 코드 :  KAKAO long 진입가격 :  52989  | long 청산가격 :  54093  | return: 2.08 %
개별 청산일 :  2020-07-01 00:00:00 종목 코드 :  SAMSUNGsdi long 진입가격 :  277000  | long 청산가격 :  370500  | return: 33.75 %
개별 청산일 :  2020-07-01 00:00:00 종목 코드 :  KIA long 진입가격 :  34600  | long 청산가격 :  32200  | return: -6.94 %
개별 청산일 :  2020-08-03 00:00:00 종목 코드 :  LGchem long 진입가격 :  491500  | long 청산가격 :  635000  | return: 29.2 %
개별 청산일 :  2020-08-03 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  752000  | long 청산가격 :  736000  | return: -2.13 %
개별 청산일 :  2020-08-03 00:00:00 종목 코드 :  CELLTRION long 진입가격 :  292147  | long 청산가격 :  293620  | return: 0.5 %
개별 청산일 :  2020-09-01 00:00:00 종목 코드 :  KIA long 진입가격 :  39700  | long 청산가격 :  43150  | return: 8.69 %
개별 청산일 :  2020-10-05 00:00:00 종목 코드 :  LGchem long 진입가격 :  743000  | long 청산가격 :  659000  | return: -11.31 %
개별 청산일 :  2020-10-05 00:00:00 종목 코드 :  KAKAO long 진입가격 :  73462  | long 청산가격 :  74365  | return: 1.23 %
개별 청산일 :  2020-10-05 00:00:00 종목 코드 :  HYNDAIcar long 진입가격 :  127000  | long 청산가격 :  187000  | return: 47.24 %
개별 청산일 :  2020-11-02 00:00:00 종목 코드 :  SAMSUNGelec long 진입가격 :  58700  | long 청산가격 :  57400  | return: -2.21 %
개별 청산일 :  2020-11-02 00:00:00 종목 코드 :  SKhynix long 진입가격 :  83200  | long 청산가격 :  79600  | return: -4.33 %

개별 청산일 :  2020-12-01 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  698000  | long 청산가격 :  793000  | return: 13.61 %
개별 청산일 :  2020-12-01 00:00:00 종목 코드 :  SAMSUNGsdi long 진입가격 :  440000  | long 청산가격 :  547000  | return: 24.32 %
개별 청산일 :  2020-12-01 00:00:00 종목 코드 :  KIA long 진입가격 :  50500  | long 청산가격 :  59800  | return: 18.42 %
개별 청산일 :  2021-01-04 00:00:00 종목 코드 :  LGchem long 진입가격 :  809000  | long 청산가격 :  889000  | return: 9.89 %
개별 청산일 :  2021-01-04 00:00:00 종목 코드 :  CELLTRION long 진입가격 :  337811  | long 청산가격 :  347500  | return: 2.87 %
개별 청산일 :  2021-02-01 00:00:00 종목 코드 :  SAMSUNGelec long 진입가격 :  83000  | long 청산가격 :  83000  | return: 0.0 %
개별 청산일 :  2021-02-01 00:00:00 종목 코드 :  SKhynix long 진입가격 :  100500  | long 청산가격 :  125000  | return: 24.38 %
개별 청산일 :  2021-02-01 00:00:00 종목 코드 :  SAMSUNGsdi long 진입가격 :  671000  | long 청산가격 :  745000  | return: 11.03 %
개별 청산일 :  2021-03-02 00:00:00 종목 코드 :  KIA long 진입가격 :  90000  | long 청산가격 :  80100  | return: -11.0 %
개별 청산일 :  2021-04-01 00:00:00 종목 코드 :  SKhynix long 진입가격 :  144500  | long 청산가격 :  140500  | return: -2.77 %
개별 청산일 :  2021-04-01 00:00:00 종목 코드 :  NAVER long 진입가격 :  348000  | long 청산가격 :  378500  | return: 8.76 %
개별 청산일 :  2021-05-03 00:00:00 종목 코드 :  CELLTRION long 진입가격 :  324500  | long 청산가격 :  249500  | return: -23.11 %
개별 청산일 :  2021-05-03 00:00:00 종목 코드 :  KIA long 진입가격 :  83500  | long 청산가격 :  80100  | return: -4.07 %
개별 청산일 :  2021-06-01 00:00:00 종목 코드 :  LGchem long 진입가격 :  907000  | long 청산가격 :  825000  | return: -9.04 %
개별 청산일 :  2021-06-01 00:00:00 종목 코드 :  KAKAO long 진입가격 :  88616  | long 청산가격 :  127000  | return: 43.31 %
개별 청산일 :  2021-07-01 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  773000  | long 청산가격 :  855000  | return: 10.61 %
개별 청산일 :  2021-07-01 00:00:00 종목 코드 :  HYNDAIcar long 진입가격 :  237000  | long 청산가격 :  242000  | return: 2.11 %
개별 청산일 :  2021-07-01 00:00:00 종목 코드 :  CELLTRION long 진입가격 :  272500  | long 청산가격 :  267500  | return: -1.83 %
개별 청산일 :  2021-08-02 00:00:00 종목 코드 :  KAKAO long 진입가격 :  160000  | long 청산가격 :  146000  | return: -8.75 %
개별 청산일 :  2021-09-01 00:00:00 종목 코드 :  SAMSUNGbio long 진입가격 :  913000  | long 청산가격 :  962000  | return: 5.37 %
개별 청산일 :  2021-09-01 00:00:00 종목 코드 :  NAVER long 진입가격 :  413000  | long 청산가격 :  445000  | return: 7.75 %
누적 청산일 :  2018-03-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.028 누적 수익률 :  0.972
누적 청산일 :  2018-04-02 00:00:00 청산 종목수 :  2 청산 수익률 :  0.0549 누적 수익률 :  1.0253
누적 청산일 :  2018-05-02 00:00:00 청산 종목수 :  2 청산 수익률 :  -0.0045 누적 수익률 :  1.0207
누적 청산일 :  2018-06-01 00:00:00 청산 종목수 :  3 청산 수익률 :  -0.0343 누적 수익률 :  0.9857
누적 청산일 :  2018-07-02 00:00:00 청산 종목수 :  3 청산 수익률 :  -0.0474 누적 수익률 :  0.9389
누적 청산일 :  2018-08-01 00:00:00 청산 종목수 :  3 청산 수익률 :  -0.0325 누적 수익률 :  0.9084
누적 청산일 :  2018-09-03 00:00:00 청산 종목수 :  2 청산 수익률 :  -0.0223 누적 수익률 :  0.8882
누적 청산일 :  2018-10-01 00:00:00 청산 종목수 :  2 청산 수익률 :  0.0504 누적 수익률 :  0.9329
누적 청산일 :  2018-11-01 00:00:00 청산 종목수 :  3 청산 수익률 :  -0.1864 누적 수익률 :  0.7591
누적 청산일 :  2018-12-03 00:00:00 청산 종목수 :  3 청산 수익률 :  0.0254 누적 수익률 :  0.7783
누적 청산일 :  2019-01-02 00:00:00 청산 종목수 :  2 청산 수익률 :  -0.0824 누적 수익률 :  0.7142
누적 청산일 :  2019-02-01 00:00:00 청산 종목수 :  3 청산 수익률 :  0.118 누적 수익률 :  0.7985
누적 청산일 :  2019-03-04 00:00:00 청산 종목수 :  3 청산 수익률 :  -0.025 누적 수익률 :  0.7785
누적 청산일 :  2019-04-01 00:00:00 청산 종목수 :  3 청산 수익률 :  -0.0619 누적 수익률 :  0.7303
누적 청산일 :  2019-05-02 00:00:00 청산 종목수 :  2 청산 수익률 :  0.0362 누적 수익률 :  0.7568
누적 청산일 :  2019-06-03 00:00:00 청산 종목수 :  2 청산 수익률 :  0.0233 누적 수익률 :  0.7744
누적 청산일 :  2019-07-01 00:00:00 청산 종목수 :  2 청산 수익률 :  0.0357 누적 수익률 :  0.8021
누적 청산일 :  2019-08-01 00:00:00 청산 종목수 :  3 청산 수익률 :  -0.0009 누적 수익률 :  0.8013
누적 청산일 :  2019-09-02 00:00:00 청산 종목수 :  2 청산 수익률 :  -0.0057 누적 수익률 :  0.7968
누적 청산일 :  2019-10-01 00:00:00 청산 종목수 :  3 청산 수익률 :  0.0513 누적 수익률 :  0.8376
누적 청산일 :  2019-11-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0134 누적 수익률 :  0.8489
누적 청산일 :  2019-12-02 00:00:00 청산 종목수 :  3 청산 수익률 :  0.0404 누적 수익률 :  0.8831
누적 청산일 :  2020-01-02 00:00:00 청산 종목수 :  3 청산 수익률 :  0.0117 누적 수익률 :  0.8935
누적 청산일 :  2020-02-03 00:00:00 청산 종목수 :  2 청산 수익률 :  0.0181 누적 수익률 :  0.9096
누적 청산일 :  2020-03-02 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0898 누적 수익률 :  0.9914
누적 청산일 :  2020-04-01 00:00:00 청산 종목수 :  3 청산 수익률 :  -0.1641 누적 수익률 :  0.8287
누적 청산일 :  2020-05-04 00:00:00 청산 종목수 :  2 청산 수익률 :  0.1243 누적 수익률 :  0.9317
누적 청산일 :  2020-06-01 00:00:00 청산 종목수 :  2 청산 수익률 :  0.245 누적 수익률 :  1.16
누적 청산일 :  2020-07-01 00:00:00 청산 종목수 :  3 청산 수익률 :  0.0963 누적 수익률 :  1.2717
누적 청산일 :  2020-08-03 00:00:00 청산 종목수 :  3 청산 수익률 :  0.0919 누적 수익률 :  1.3886
누적 청산일 :  2020-09-01 00:00:00 청산 종목수 :  1 청산 수익률 :  0.0869 누적 수익률 :  1.5093
누적 청산일 :  2020-10-05 00:00:00 청산 종목수 :  3 청산 수익률 :  0.1239 누적 수익률 :  1.6963
누적 청산일 :  2020-11-02 00:00:00 청산 종목수 :  2 청산 수익률 :  -0.0327 누적 수익률 :  1.6408
누적 청산일 :  2020-12-01 00:00:00 청산 종목수 :  3 청산 수익률 :  0.1878 누적 수익률 :  1.949
누적 청산일 :  2021-01-04 00:00:00 청산 종목수 :  2 청산 수익률 :  0.0638 누적 수익률 :  2.0733
누적 청산일 :  2021-02-01 00:00:00 청산 종목수 :  3 청산 수익률 :  0.118 누적 수익률 :  2.318
누적 청산일 :  2021-03-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.11 누적 수익률 :  2.063
누적 청산일 :  2021-04-01 00:00:00 청산 종목수 :  2 청산 수익률 :  0.03 누적 수익률 :  2.1248
누적 청산일 :  2021-05-03 00:00:00 청산 종목수 :  2 청산 수익률 :  -0.1359 누적 수익률 :  1.836
누적 청산일 :  2021-06-01 00:00:00 청산 종목수 :  2 청산 수익률 :  0.1714 누적 수익률 :  2.1507
누적 청산일 :  2021-07-01 00:00:00 청산 종목수 :  3 청산 수익률 :  0.0363 누적 수익률 :  2.2287
누적 청산일 :  2021-08-02 00:00:00 청산 종목수 :  1 청산 수익률 :  -0.0875 누적 수익률 :  2.0337
누적 청산일 :  2021-09-01 00:00:00 청산 종목수 :  2 청산 수익률 :  0.0656 누적 수익률 :  2.167
누적 수익률 : 2.167

In [78]:
print(month_ret_df.loc[book.index[-1].strftime('%Y-%m-%d')])

CODE
CELLTRION      0.0
HYNDAIcar      0.0
KAKAO          0.0
KIA            1.0
LGchem         1.0
NAVER          0.0
SAMSUNGbio     0.0
SAMSUNGelec    1.0
SAMSUNGsdi     0.0
SKhynix        0.0
Name: 2021-09-16 00:00:00, dtype: float64

In [79]:
stock_df

          Date         CODE  Close
0   2018-01-02  SAMSUNGelec  51020
1   2018-01-03  SAMSUNGelec  51620
2   2018-01-04  SAMSUNGelec  51080
3   2018-01-05  SAMSUNGelec  52120
4   2018-01-08  SAMSUNGelec  52020
..         ...          ...    ...
911 2021-09-10          KIA  82500
912 2021-09-13          KIA  82600
913 2021-09-14          KIA  83400
914 2021-09-15          KIA  83300
915 2021-09-16          KIA  84500

[9160 rows x 3 columns]

In [80]:
month_last_df

          Date         CODE    1M_RET
21  2018-01-31  SAMSUNGelec  0.978048
39  2018-02-28  SAMSUNGelec  0.944601
60  2018-03-30  SAMSUNGelec  1.069535
81  2018-04-30  SAMSUNGelec  1.091883
101 2018-05-31  SAMSUNGelec  0.956604
..         ...          ...       ...
838 2021-05-31          KIA  1.068664
860 2021-06-30          KIA  1.045508
882 2021-07-30          KIA  0.923757
903 2021-08-31          KIA  1.004723
915 2021-09-16          KIA  0.984848

[450 rows x 3 columns]